name: build-snowflake-layer
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Snowflake Connector
      run: |
        python -m pip install --upgrade pip
        mkdir -p out/python
        pip install --no-cache-dir snowflake-connector-python -t out/python

    - name: Zip Lambda Layer
      run: |
        cd out
        zip -r ../snowflake_layer.zip python
        echo "Layer size:"
        ls -lh ../snowflake_layer.zip

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: snowflake-layer
        path: snowflake_layer.zip
